* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  width: 100vw;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

main {
  background-color: #c5e4e7;
  width: 100vw;
  height: auto;
  font-size: 1.9rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
}

.form {
  width: 100%;
  height: 750px;
  background-color: white;
  border-radius: 1.5rem;
  display: grid;
  grid-template: 13% 30% 57%/repeat(1, 1fr);
  justify-items: center;
  grid-template-areas: "bill" "tip" "people";
  padding: 15px 0;
}

label {
  font-size: 1.6rem;
  color: #5e7a7d;
}

.attribution {
  display: block;
  padding-block-start: 20px;
  height: 80px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #c5e4e7;
}
.attribution a {
  color: #3e52a3;
  font-size: 1.6rem;
}

.bill {
  grid-area: bill;
  width: 82%;
}
.bill--input {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  background-color: #f4fafa;
  border-radius: 8px;
  margin: 6px 0px;
}
.bill--input input {
  width: 90%;
  height: 100%;
  border: none;
  text-align: end;
  background-color: #f4fafa;
  font-size: 2.2rem;
  outline: none;
  font-weight: 700;
  color: #00494d;
}
.bill--input input ::-webkit-inner-spin-button {
  display: none;
}

.tips {
  width: 82%;
  margin-top: 10px;
  font-size: 2rem;
  display: grid;
  grid-area: tip;
}
.tips__buttons {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  gap: 12px;
}
.tips__buttons input {
  width: 100%;
  height: 45px;
  font-size: 2.4rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
.tips__buttons input.percent {
  background-color: #00494d;
  color: white;
}
.tips__buttons input.percent:hover {
  background-color: #26c0ab;
  color: #00494d;
}
.tips__buttons input.custom {
  background-color: #f4fafa;
  text-align: right;
  padding-inline-end: 15px;
  outline: none;
  color: #00494d;
}

.people {
  width: 82%;
  font-size: 4rem;
}
.people__input {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  background-color: #f4fafa;
  border-radius: 8px;
  margin: 6px 0px;
}
.people__input input {
  width: 90%;
  height: 100%;
  border: none;
  text-align: end;
  background-color: #f4fafa;
  font-size: 2.2rem;
  outline: none;
  font-weight: 700;
  color: #00494d;
}
.people__input input ::-webkit-inner-spin-button {
  display: none;
}

.total {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  background-color: #00494d;
  margin-block-start: 28px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-weight: 400;
}
.total__result {
  display: flex;
  justify-content: space-between;
}
.total__result_text {
  color: white;
  font-size: 1.6rem;
}
.total__result_subtext {
  color: #7f9c9f;
  font-size: 1.4rem;
}
.total__result-value {
  color: #26c0ab;
  font-size: 3rem;
  font-weight: 700;
}
.total button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #26c0ab;
  color: #00494d;
  font-weight: 700;
}

/*# sourceMappingURL=index.css.map */
